@import url('https://fonts.googleapis.com/css?family=poppins');
@import url('https://fonts.googleapis.com/css?family=sans-serif');
*{
    margin:0;
    padding:0;
    font-family: 'poppins',sans-serif;
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
}
.container{
    position: relative;
    width: 1100px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding: 30px;
    margin-top: 250px;
}
.container .card{
    position: relative;
    max-width: 300px;
    height: 200px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0 5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}
.container .card:hover{
    height: 420px;
}
.container .card .imgbx{
    position: relative;
    width: 260px;
    height: 300px;
    top: -60px;
    left: 20px;
    z-index: 1;
}
.container .card .imgbx img{
    max-width: 100%;
    border-radius: 4px;
    height: 180px;
}
.container .card .content{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    overflow: scroll;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.container .card:hover .content{
    visibility: visible;
    opacity: 1;
    margin-top: -40px;
    transition-delay: 0.3s;
}
